<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WindowsFormsApp1.Settings1>
            <setting name="対象リポジトリfolder" serializeAs="String">
                <value>12217柏市,14100横浜市,14201横須賀市,18201福井市,27215寝屋川市,28000兵庫県,28100神戸市,28203明石市,28204西宮市,30201和歌山市,33202倉敷市</value>
            </setting>
            <setting name="PKGリポジトリfolder" serializeAs="String">
                <value>99999共通資産</value>
            </setting>
            <setting name="SMTPサーバ" serializeAs="String">
                <value>mail.k-js.co.jp</value>
            </setting>
            <setting name="SMTPポート番号" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="対象リポジトリroot" serializeAs="String">
                <value>caelum/生活衛生SVN/</value>
            </setting>
        </WindowsFormsApp1.Settings1>
    </applicationSettings>
</configuration>